*Обнуление*/ * {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-family: 'Poppins';
	/* font-family: Arial, "Helvetica Neue", Helvetica sans-serif;*/
	font-size: 0.875rem;
	margin: 0;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	/*background-color: #333;*/
	/*background-color: #262c37;*/
	color: #292D32;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;

}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

/************************************container********************************************/
.none {
	display: none;
}

.wrapper {

	overflow: clip;
	min-height: 100%;
}

/* .container {
	max-width: 1230px;
	margin: 0px auto;
	padding: 0px 15px ;
} */
/* [class*="__container"] {
	max-width: 91.875rem;
	margin: 0 auto;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
} */
/***************************************************header********/



/****************************content*******************************/
.content {
	width: 1440px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);

	gap: 66px;


}

.content__dashboard {
	background: #FFFFFF;
	box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
	width: 273px;
	padding-left: 5px;
}

.content__dashboard-logo {
	padding: 17px 0px 0px 1.75rem;
	display: flex;
	justify-content: flex-start;
	width: 13.5625rem;
	align-items: center;
}

.logo-dashboard__icon {


	width: 35.0896px;
	height: 36.7904px;
}

.logo-dashboard__title {
	padding-left: 9.4496px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 26px;
	line-height: 39px;
	/* identical to box height */

	letter-spacing: 0.01em;

	color: #000000;
}

.logo-dashboard__title a {

	color: #000000;
}

.logo-dashboard__item {
	padding-left: 4px;
	padding-top: 0.5625rem;
	font-weight: 500;
	font-size: 0.625rem;
	line-height: 150%;
	/* 15px/10 */
	letter-spacing: -0.01em;
	color: #838383;
}

.menu-dashboard {
	width: 100%;
	margin-left: 2.4375rem;
	padding: 0px 69px 0px 0px;
	margin-top: 3.0625rem;
}

.menu-dashboard__inner {
	width: 114%;
	display: flex;

	align-items: center;
	margin-top: 37px;
	gap: 22px;

}

.menu-dashboard__icon {
	margin-right: 0px;
	width: 1.5rem;
	height: 1.5rem;

}

.menu-dashboard__title {
	margin-right: 10px;
	font-weight: 500;
	font-size: 0.875rem;
	line-height: 150%;
	/* 21px/14 */

	letter-spacing: -0.01em;
	color: #9197B3;
	flex: 1 1 auto;
}

._active {
	width: 243px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 36px;
	background: #5932EA;
	border-radius: 0.5rem;
	transform: translateX(-3%);


}

._active .menu-dashboard__title {
	display: flex;
	align-items: center;
	padding: 11px 0px 11px 16px;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 21px;
	/* identical to box height */

	letter-spacing: -0.01em;

	color: #FFFFFF;
}

._active .menu-dashboard__arrow {
	padding-right: 0.5rem;
}

._active .menu-dashboard__icon {
	width: 2.125rem !important;
	height: 1.5rem;
	padding-left: 0.6875rem;
}

/****************************************************************************/

.dashboard-icons {
	width: 155px;
	height: 41px;
	margin: 631px 0px 4.75rem 1.75rem;
	display: flex;
	gap: 0.75rem;

}


.dashboard-icons__inner-name {
	font-weight: 500;
	font-size: 0.875rem;
	line-height: 150%;
	/* 21px/14 */
	/* identical to box height */

	letter-spacing: 0.01em;
	margin: 0;
	color: #000000;

}

.dashboard-icons__inner-profession {
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 150%;
	/* 18px/12 */
	/* identical to box height */

	letter-spacing: 0.01em;

	color: #757575;
	margin: 0;
}

/*********************************content__customers**********************************************/


/* .inner-cuctomers._active */

.content__customers {

	display: block !important;
	width: 968px;
	margin-top: 29px;
	margin-right: 111px;
}

/* #box {
	opacity: 1;
	width: 968px;
	margin-top: 26px;
} */

.content__customers__logo {
	width: 11rem;
	height: 2.25rem;
	margin: 16px 0px 0px 13px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 150%;
	/* 36px/24 */

	color: #000000;
}

.inner-customers {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-top: 17px;
}

.item-customers {
	padding-top: 67px;
	margin-left: 49px;
}

.item-customers__title {
	padding-bottom: 0;
	margin: 0;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 33px;
	/* identical to box height */

	letter-spacing: -0.01em;

	color: #000000;
}

.item-customers__text p {
	margin: 0;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;

	letter-spacing: -0.01em;

	padding-top: 8px;
	color: #16C098;
}

.inner-customers__search {
	margin-right: 68px;
	position: relative;
	top: 13px;
}

.inner-customers__label {
	position: relative;
	top: 0.4375rem;
	left: 2.4375rem;

}

.inner-customers__input {

	width: 13.5rem;
	height: 2.375rem;
	left: 67.25rem;
	top: 10.75rem;

	background: #F9FBFF;
	border-radius: 0.625rem;
	border: none;
}

.inner-customers__input::-webkit-input-placeholder {
	padding-left: 2.5rem;
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 150%;
	/* 18px/12 */
	letter-spacing: -0.01em;

	color: #B5B7C0;
}



.questionnaire-customers {
	margin-top: 25px;
}

table {
	width: 97%;
	border-collapse: collapse;
	margin-left: 42px;

}

tr {}

th {

	padding: 10px 0px 0px 8px;
	text-align: start;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	letter-spacing: -0.01em;
	color: #B5B7C0;
}

td {
	padding: 38px 0px 0px 8px;
	text-align: start;
}

.tems-customers__active {
	padding: 4px 18px;
	color: #008767;

	background: rgba(22, 192, 152, 0.38);
	border: 1px solid #00B087;
	border-radius: 4px;
}

.tems-customers__inactive {
	padding: 4px 12px;
	color: #DF0404;

	background: #FFC5C5;
	border: 1px solid #DF0404;
	border-radius: 4px;
}


.data-customers {
	margin-top: 38px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.data-customers__title {
	margin: 6px 0px 0px 52px;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	/* identical to box height */

	letter-spacing: -0.01em;

	color: #B5B7C0;
}

.data-customers__page {
	margin-right: 25px;
}


/**********************adaptiv***************************/

@media (max-width: 1300px) {

	.content {

		display: flex;
		gap: 66px;
		justify-content: center;

		max-width: 100%;
		gap: 10px;
		margin: 0 auto;
	}

	.content__dashboard {
		width: 282px;
	}

	.menu-dashboard__inner-active {
		width: 241px;

	}

	.inner-customers {
		width: 88%;

	}

	.tems-customers {
		width: 702px;
		grid-template-columns: 128px 84px 123px 167px 110px 0px 1fr;
	}

	.data-customers {
		width: 82%;
	}
}

@media (max-width: 1092px) {
	.item-customers__title {
		font-size: 17px;
	}

	.item-customers__text p {
		font-size: 10px;
	}

	.inner-customers {
		width: 70%;

	}

	.tems-customers {
		width: 702px;
		grid-template-columns: 99px 62px 90px 129px 79px 0px 1fr;
		font-size: 10px;
	}

	.data-customers {
		width: 66%;
	}

}

@media (max-width: 991.98px) {

	.content {
		gap: 0px;
	}

	.content__dashboard {
		margin: 0 auto;
		width: 252px;
	}

	.dashboard-icons {
		margin: 64px 0px 76px 1.75rem;
	}

	.content__customers {
		width: 592px;
		margin-top: 26px;
		margin: 0 auto;
	}

	.content__customers__logo {
		margin: 0 auto;

	}

	.inner-customers {
		width: 100%;
		display: flex;
		margin: 17px auto;
	}

	.inner-customers__search {
		margin-right: 0px;
	}

	table {
		width: 86%;
		border-collapse: collapse;
		margin-left: 25px;
	}

	.data-customers__title {
		font-size: 10px;
	}

	.data-customers {
		width: 100%;
	}
}

@media (max-width: 767.98px) {
	.content__customers {}

	.inner-customers {
		width: 75%;

	}

	.questionnaire-customers__content {
		padding-left: 0px;
		margin: 0 auto;
	}

	.questionnaire-customers__tems-name {
		flex-wrap: wrap;
		line-height: 11px;
	}

	.content {
		display: flex;

		flex-direction: column;
	}

	.content__dashboard {
		margin: 0;
		width: 252px;
	}





}

@media (max-width: 550.98px) {
	.inner-customers {
		width: 100%;
	}

	table {
		width: 70%;
		margin-left: 0px;
	}

	th {
		font-size: 10px;


	}

	.data-customers {
		margin-top: 38px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}


}

/***********************************************************/
/*@import url("header.css");*/
/*@media (max-width: 1092px){}
@media (max-width: 991.98px){}
@media (max-width: 767.98px){}
@media (max-width: 479.98px){}*/

/*******************************GIT*********************************************************/

/* git push origin master    git add .    git remote add origin https://github.com/CKRoMA/git-course.git*/
/* git commit -a -m "Commit message." git push -u origin master*/

/*******************************************************************************************/